<div class="container">
  <h1>Movies I want to Watch</h1>
  <ul>
    {{#each movies}}
      <li>
        {{id}} - {{movie}} 
        <button class="delete" data-movieid="{{id}}">&times;</button>
      </li>
    {{/each}}
  </ul>

  <h2>Add a movie</h2>
  <input id="new-movie-input" type="text" />
  <button id="new-movie-button">Add movie</button>

  <h2>Update movie</h2>
</div>

<script>
  $(document).ready(function() {
    const $newMovieInput = $('#new-movie-input')
    const $newMovieButton = $('#new-movie-button')
    const $deleteButtons = $('.delete')
      
    $newMovieButton.on('click', () => {
      const newMovieText = $newMovieInput.val().trim()
      $.ajax('/api/movies', {
        type: 'POST',
        data: { newMovieText }
      })
      .then(() => location.reload())
      .catch(err => console.log(err))
    })
    $deleteButtons.on('click', function() {
      const id = $(this).data('movieid')
      $.ajax(`/api/movies/${id}`, {
        type: 'DELETE'
      })
      .then(() => location.reload())
      .catch(err => console.log(err))
    })
  })
</script>